# Compiled source #
###################
Manifest.toml
**/docs/Manifest.toml
**/test/*.png
**/test/*.mp4
**/test/*.jpg
**/test/*.jpeg
**/test/*.gif
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

**/animations
**/.build
**/build