name: Documentation

on:
  push:
    branches:
      - master
    tags: "*"
  pull_request:

permissions:
  contents: write
  id-token: write  # required if using OIDC (optional)

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
        - name: Install python
          uses: actions/setup-python@v6
          with:
            python-version: '3.8'
        - name: Install binary dependencies
          run: sudo apt-get update && sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1 freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev
        - uses: actions/checkout@v6
        - uses: julia-actions/setup-julia@latest
          with:
            version: "1.11"
        - name: Install dependencies
          run: >
              DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24'
              julia --project=./docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate(); Pkg.resolve(); Pkg.precompile();'
        - name: Build and deploy docs
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          run: >
              DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24'
              julia --color=yes --project=./docs/ ./docs/make.jl